.modal-wrapper {
  display: none;
}
.modal-wrapper.is-active {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(47, 47, 47, .9);
  overflow-y: auto;
  z-index: 1001;
}
.modal-wrapper .modal-inner {
  margin: auto;
}
.modal-wrapper:not(.none-style) .modal-content {
  background-color: rgba(15, 15, 15, 1);
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  overflow: hidden;
  isolation: isolate;
}
.modal-wrapper .modal-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #666;
}
.modal-wrapper .modal-close .ic {
  width: 1.8rem;
  height: 2.4rem;
}

.modal-wrapper .confirm-area {
  width: 50rem;
}
.modal-wrapper .confirm-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 18rem;
  padding: 6rem 3rem;
  font-family: "Pretendard";
  text-align: center;
}
.modal-wrapper .confirm-tit {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
.modal-wrapper .confirm-tit.lg {
  font-size: 2.4rem;
}
.modal-wrapper .confirm-desc {
  margin-top: 1.2rem;
  font-weight: 600;
  line-height: 2.1rem;
  color: rgba(102, 102, 102, 1);
}
.modal-wrapper .modal-foot .btn-group {
  display: flex;
}
.modal-wrapper .modal-foot .btn-group .btn {
  flex: 1;
  border-radius: 0;
}

.modal-wrapper .player-info-area {
  position: relative;
  padding: 4rem 3rem 3rem 3rem;
  width: 1200px;
  background-color: var(--black-color);
  border-radius: 0.8rem;
}
.modal-wrapper .player-info-area::before {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 30%
  );
}
.modal-wrapper .player-info-area .player-info {
  position: relative;
  display: flex;
  gap: 3rem;
}
.modal-wrapper .player-info-area .player-info::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1px;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, .1);
}
.modal-wrapper .player-info-area .player-intro {
  flex: 1;
}
.modal-wrapper .player-info-area .player-detail {
  flex: 1;
  padding-left: 6.5rem;
}
.modal-wrapper .player-info-area .player-intro-inner {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-wrapper .player-info-area .rank {
  margin: 0 auto;
  padding: 0 1.9rem;
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.8rem;
  letter-spacing: 0.02em;
  border: 1px solid var(--primary-color);
  border-radius: 4rem;
}
.modal-wrapper .player-info-area .rank em {
  color: var(--primary-color);
}
.modal-wrapper .player-info-area .name {
  margin-top: 4rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.1rem;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-align: center;
}
.modal-wrapper .player-info-area .number {
  position: absolute;
  left: 0;
  right: 0;
  top: 10.8rem;
  font-family: "Tourney", sans-serif;
  font-size: 16.4rem;
  font-weight: 400;
  line-height: 1;
  color: var(--primary-color);
  text-align: center;
  letter-spacing: -0.02em;
}
.modal-wrapper .player-info-area .player-thumb {
  position: relative;
  margin-top: 8.7rem;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.modal-wrapper .player-info-area .player-thumb img {
  max-width: none;
  height: 100%;
}
.modal-wrapper .player-info-area .btn-group {
  margin-top: 4rem;
  display: flex;
  gap: 3rem;
}
.modal-wrapper .player-info-area .btn-group button {
  flex: 1;
}
.modal-wrapper .player-info-area .btn-detail {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  background-color: #252525;
  border-radius: 0 .8rem .8rem 0;
}
.modal-wrapper .player-info-area .btn-detail .ic {
  rotate: 180deg;
}

.modal-wrapper .player-info-area .player-detail .tit {
  margin-bottom: 4rem;
  font-size: 3.2rem;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.modal-wrapper .player-info-area .detail-list > ul {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.modal-wrapper .player-info-area .detail-item {
  display: flex;
}
.modal-wrapper .player-info-area .detail-item p,
.modal-wrapper .player-info-area .detail-item a {
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0.02em;
}
.modal-wrapper .player-info-area .detail-item .label {
  padding-right: 1rem;
  color: #666;
}
.modal-wrapper .player-info-area .detail-item .link {
  color: var(--primary-color);
}

.modal-wrapper .driver-matching-area {
  padding: 2rem 10rem 4rem;
  width: 110rem;
}
.modal-wrapper .driver-matching-area .player-info-area {
  padding: 2rem 0;
  width: 72rem;
}
.modal-wrapper .driver-matching-area .player-info-area .player-info {
  gap: 0;
}
.modal-wrapper .driver-matching-area .player-info-area .player-intro,
.modal-wrapper .driver-matching-area .player-info-area .player-detail {
  flex: 0 0 50%;
}
.modal-wrapper .driver-matching-area .player-info-area .player-intro {
  padding: 0 2rem;
}
.modal-wrapper .driver-matching-area .player-info-area .player-detail {
  padding: 0 4.6rem;
}
.modal-wrapper .driver-matching-area .player-info-area .player-detail .tit {
  margin-bottom: 3.6rem;
  font-size: 2.8rem;
}
.modal-wrapper .driver-matching-area .player-info-area .detail-list > ul {
  gap: 1.2rem;
}
.modal-wrapper .driver-matching-area .player-info-area .detail-item p,
.modal-wrapper .driver-matching-area .player-info-area .detail-item a {
  font-size: 1.6rem;
  line-height: 2rem;
}
.modal-wrapper .driver-matching-area .player-info-area .player-detail .label {
  flex: 0 0 12.4rem;
}
.modal-wrapper .driver-matching-area .player-info-area .player-detail .desc {
  flex: 1 1 auto;
}
.modal-wrapper .driver-matching-area .player-info-area .rank {
  font-size: 1.6rem;
  line-height: 3.3rem;
}
.modal-wrapper .driver-matching-area .player-info-area .name {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.3;
}
.modal-wrapper .driver-matching-area .player-info-area .number {
  top: 6.4rem;
  font-size: 11rem;
}
.modal-wrapper .driver-matching-area .player-info-area .player-thumb {
  margin: 4.3rem auto 0;
  width: 26.7rem;
  height: 18.4rem;
}
.modal-wrapper .driver-matching-area .player-info-area .player-thumb img {
  width: 100%;
}
.modal-wrapper .driver-matching-area .player-info-area::before {
  background: linear-gradient(137.86deg, rgba(255, 255, 255, 0.5) -0.67%, rgba(255, 255, 255, 0) 57.67%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(94.79deg, rgba(255, 255, 255, 0.5) -15.28%, rgba(255, 255, 255, 0) 4.53%);
}
.modal-wrapper .driver-matching-area .player-info-area .logo-box {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}
.modal-wrapper .driver-matching-area .player-info-area .logo-box .ic {
  width: 8.8rem;
  height: 1.6rem;
}
.modal-wrapper .driver-matching-head {
  margin-bottom: 2rem;
  text-align: center;
}
.modal-wrapper .driver-matching-tit {
  margin-bottom: 0.8rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
}
.modal-wrapper .driver-matching-desc {
  font-family: "Pretendard";
  line-height: 2.1rem;
  color: rgba(102, 102, 102, 1);
}
.modal-wrapper .driver-matching-count {
  margin-top: 1rem;
}
.modal-wrapper .driver-matching-count .desc {
  line-height: 2.1rem;
  color: rgba(102, 102, 102, 1);
}
.modal-wrapper .driver-matching-count .date-group {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: #fff;
  letter-spacing: 0.005em;
}
.modal-wrapper .driver-matching-count .date-group .time {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
.modal-wrapper .driver-matching-count .date-group .cr {
  translate: 0 -.3rem;
}
.modal-wrapper .driver-matching-area .player-info-slider-area {
  position: relative;
  padding: 0 calc(9rem - 2px);
  overflow: hidden;
}
.modal-wrapper .driver-matching-area .player-info-slider-area .swiper-slide {
  padding: 1px;
}
.modal-wrapper .driver-matching-area .goods-slider-area {
  margin: 0;
  padding: 0 7.5rem;
}
.modal-wrapper .driver-matching-area .player-slider-area {
  position: relative;
  padding: 0 7.5rem;
}

.modal-wrapper .goods-slider-area {
  position: relative;
}
.modal-wrapper .goods-slider-area .goods-item {
  padding: 2rem 3.4rem;
}
.modal-wrapper .player-info-slider-area .slider-controls,
.modal-wrapper .player-slider-area .slider-controls,
.modal-wrapper .goods-slider-area .slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 1.3rem;
}
.modal-wrapper .player-info-slider-area .slider-controls {
  margin-top: -3rem;
}
.modal-wrapper .goods-slider-area .slider-controls {
  margin-top: -3rem;
}

.modal-wrapper .player-info-slider-area .slider-btn-prev,
.modal-wrapper .player-slider-area .slider-btn-prev,
.modal-wrapper .goods-slider-area .slider-btn-prev {
  left: 0;
}
.modal-wrapper .player-info-slider-area .slider-btn-next,
.modal-wrapper .player-slider-area .slider-btn-next,
.modal-wrapper .goods-slider-area .slider-btn-next {
  right: 0;
}
.modal-wrapper .goods-slider-area .swiper-pagination {
  bottom: -2rem;
  --swiper-pagination-bullet-width: 1.2rem;
  --swiper-pagination-bullet-height: 1.2rem;
  --swiper-pagination-color: var(--primary-color);
  --swiper-pagination-bullet-inactive-color: rgba(34, 34, 34, 1);
}

.modal-wrapper .player-slider-area .area-tit {
  margin-bottom: 4rem;
  display: flex;
}
.modal-wrapper .goods-slider-area .area-tit {
  margin-bottom: 2rem;
  display: flex;
}
.modal-wrapper .player-slider-area .area-tit span,
.modal-wrapper .goods-slider-area .area-tit span {
  margin: 0 auto;
  padding: 0 2.6rem;
  font-family: "Score";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 4.4rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 4.6rem;
}

.modal-wrapper .player-slider-area .player-item .item-inner {
  position: relative;
  padding: 3rem 0 0;
  display: flex;
  flex-direction: column;
  background: radial-gradient(61% 162.45% at 7% 26.26%, #002A20 0%, #181818 100%);
  border-radius: 0.8rem;
  /* overflow: hidden; */
}
.modal-wrapper .player-slider-area .player-item .item-inner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: inherit;
}
.modal-wrapper .player-slider-area .rank {
  margin: 0 auto;
  padding: 0 1.9rem;
  font-family: "Pretendard";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 3.1rem;
  letter-spacing: 0.02em;
  border: 1px solid var(--primary-color);
  border-radius: 4rem;
}
.modal-wrapper .player-slider-area .rank em {
  color: var(--primary-color);
}
.modal-wrapper .player-slider-area .name {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-align: center;
}
.modal-wrapper .player-slider-area .number {
  position: absolute;
  left: 0;
  right: 0;
  top: 10.9rem;
  font-family: "Tourney", sans-serif;
  font-size: 10.4rem;
  font-weight: 400;
  line-height: 1;
  color: var(--primary-color);
  text-align: center;
  letter-spacing: -0.02em;
}
.modal-wrapper .player-slider-area .player-thumb {
  position: relative;
  margin-top: 5.9rem;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.modal-wrapper .goods-slider-area .goods-item {
  opacity: 0.2;
}
.modal-wrapper .player-slider-area .player-item {
  opacity: 0.2;
}
.modal-wrapper .player-slider-area .player-item.swiper-slide-active {
  opacity: 1;
}
.modal-wrapper .goods-slider-area .goods-item.swiper-slide-active {
  opacity: 1;
}

.modal-profile-update .profile-area {
  width: 54.8rem;
}
.modal-profile-update .profile-body {
  padding: 5rem 7.4rem 4rem;
}
.modal-profile-update .profile-tit {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.005em;
}
.modal-profile-update .form-group {
  padding: 0 0.6rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.modal-profile-update .form-group .label {
  flex-shrink: 0;
  line-height: 1.9rem;
  letter-spacing: -0.02em;
  color: #666;
}

.modal-profile-update .profile-thumb-slider-area {
  position: relative;
  margin-bottom: 4rem;
}
.modal-profile-update .profile-thumb-item .item-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.modal-profile-update .profile-thumb-item .item-inner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal-profile-update .profile-thumb-item.is-active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}
.modal-profile-update .slider-controls {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -1.5rem;
} 
.modal-profile-update .slider-controls .swiper-button-disabled {
  opacity: 0.4;
}
.modal-profile-update .slider-btn-arrow {
  position: absolute;
  color: #fff;
}
.modal-profile-update .slider-btn-arrow .ic {
  width: 3rem;
  height: 3rem;
}
.modal-profile-update .slider-btn-prev {
  left: -2.2rem;
  translate: -100% 0;
}
.modal-profile-update .slider-btn-prev .ic {
  rotate: 180deg;
}
.modal-profile-update .slider-btn-next {
  right: -2.2rem;
  translate: 100% 0;
}

.modal-apply .cost-box {
  padding: 2.4rem 3rem;
  margin: 4rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 27.2rem;
  border: 1px solid var(--green-color);
  border-radius: 0.8rem;
}
.modal-apply .cost-box .item {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
}
.modal-apply .cost-box .item:nth-child(1) {
  color: var(--primary-color);
}
.modal-apply .cost-box .desc small {
  margin-left: 0.4rem;
  font-size: 1.2rem;
}

.modal-wrapper[data-modal-id="GoodsDetailModal"] .modal-content,
.modal-wrapper.has-close-btn .modal-content {
  position: relative;
}
.modal-wrapper .goods-buy-detail-area {
  padding: 8rem;
  width: 50rem;
}
.modal-wrapper .goods-buy-detail-area .component-goods-list {
  margin: 0 auto;
  /* max-width: 20.8rem; */
}
.modal-wrapper .goods-buy-detail-area .component-goods-list ul {
  margin: 0;
  padding: 0;
}
.modal-wrapper .goods-buy-detail-area .component-goods-list .goods-item {
  flex: 1 1 auto;
  padding: 0;
}
.modal-wrapper .goods-buy-detail-area .component-goods-list .goods-info {
  margin-top: 2rem;
  color: #fff;
}
.modal-wrapper .goods-buy-detail-area .component-goods-list .name {
  margin-bottom: 4px;
  font-family: "Pretendard";
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.05em;
}
.modal-wrapper .goods-buy-detail-area .component-goods-list .tier {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--primary-color);
}
.modal-wrapper .goods-buy-detail-area .goods-buying-info {
  margin-top: 6rem;
}
.modal-wrapper .goods-buy-detail-area .goods-buying-info .goods-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Pretendard";
  line-height: 1;
}
.modal-wrapper .goods-buy-detail-area .goods-buying-info .tit {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
}
.modal-wrapper .goods-buy-detail-area .goods-buying-info .price {
  display: flex;
  gap: 0.4em;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}
.modal-wrapper .goods-buy-detail-area .goods-buying-info .btn-group {
  margin-top: 3.2rem;
}
.modal-wrapper .goods-buy-detail-area .goods-buying-info .price::before {
  content: "₩";
}
.modal-wrapper .goods-buy-detail-area .goods-detail-info {
  margin-top: 4rem;
  padding-top: 4rem;
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.modal-wrapper .goods-buy-detail-area .goods-detail-info .info-item:not(:first-child) {
  margin-top: 4rem;
}
.modal-wrapper .goods-buy-detail-area .goods-detail-info .info-item {
  word-break: break-all;
  font-family: "Pretendard";
  letter-spacing: 0.05em;
}
.modal-wrapper .goods-buy-detail-area .goods-detail-info .tit {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: var(--primary-color);
}
.modal-wrapper .goods-buy-detail-area .goods-detail-info .desc {
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #999;
}
.modal-wrapper .goods-buy-detail-area .goods-detail-foot {
  margin-top: 4rem;
}

.modal-wrapper .payment-area {
  padding: 13.75rem 8rem;
  width: 85rem;
}
.modal-wrapper .payment-area .payment-inner {
  display: flex;
  gap: 4rem;
}
.modal-wrapper .payment-area .payment-goods {
  position: relative;
  flex: 0 0 auto;
}

.modal-wrapper .payment-area .payment-goods .goods-thumb::after,
.modal-wrapper .payment-area .payment-goods .goods-thumb::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 5;
}

.modal-wrapper .payment-area .payment-goods .goods-thumb::after {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, rgba(15, 15, 15, 0.00838519) 11.79%, rgba(15, 15, 15, 0.0324148) 21.38%, rgba(15, 15, 15, 0.0704) 29.12%, rgba(15, 15, 15, 0.120652) 35.34%, rgba(15, 15, 15, 0.181481) 40.37%, rgba(15, 15, 15, 0.2512) 44.56%, rgba(15, 15, 15, 0.328119) 48.24%, rgba(15, 15, 15, 0.410548) 51.76%, rgba(15, 15, 15, 0.4968) 55.44%, rgba(15, 15, 15, 0.585185) 59.63%, rgba(15, 15, 15, 0.674015) 64.66%, rgba(15, 15, 15, 0.7616) 70.88%, rgba(15, 15, 15, 0.846252) 78.62%, rgba(15, 15, 15, 0.926281) 88.21%, #0F0F0F 100%);
  opacity: 0.75;
}
.modal-wrapper .payment-area .payment-goods .goods-thumb::before {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, rgba(15, 15, 15, 0.00838519) 11.79%, rgba(15, 15, 15, 0.0324148) 21.38%, rgba(15, 15, 15, 0.0704) 29.12%, rgba(15, 15, 15, 0.120652) 35.34%, rgba(15, 15, 15, 0.181481) 40.37%, rgba(15, 15, 15, 0.2512) 44.56%, rgba(15, 15, 15, 0.328119) 48.24%, rgba(15, 15, 15, 0.410548) 51.76%, rgba(15, 15, 15, 0.4968) 55.44%, rgba(15, 15, 15, 0.585185) 59.63%, rgba(15, 15, 15, 0.674015) 64.66%, rgba(15, 15, 15, 0.7616) 70.88%, rgba(15, 15, 15, 0.846252) 78.62%, rgba(15, 15, 15, 0.926281) 88.21%, #0F0F0F 100%);
  opacity: 0.5;
}
.modal-wrapper .payment-area .payment-goods .goods-thumb {
  position: relative;
  width: 32.5rem;
  height: 32.5rem;
}
.modal-wrapper .payment-area .payment-goods .goods-thumb img {
  width: 100%;
  height: 100%;
}
.modal-wrapper .payment-area .payment-goods .goods-info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
  z-index: 10;
}
.modal-wrapper .payment-area .payment-goods .goods-info .name {
  font-family: "Pretendard";
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1;
}
.modal-wrapper .payment-area .payment-goods .goods-info .tier {
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: var(--primary-color);
}
.modal-wrapper .payment-area .payment-info {
  flex: 1;
}
.modal-wrapper .payment-area .payment-info .goods-price {
  margin-top: 3.4rem;
  padding: 2.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.modal-wrapper .payment-area .payment-info .goods-price .tit {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary-color);
}
.modal-wrapper .payment-area .payment-info .goods-price .price {
  display: flex;
  gap: 0.6rem;
  font-family: "Pretendard";
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1;
  color: #fff;
}
.modal-wrapper .payment-area .payment-info .goods-price .price::before {
  content: '₩';
}
.modal-wrapper .payment-area .payment-info .user-form {}
.modal-wrapper .payment-area .payment-info .form-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-wrapper .payment-area .payment-info .form-group {
  display: flex;
  align-items: center;
}
.modal-wrapper .payment-area .payment-info .label {
  flex: 1;
  font-size: 1.4rem;
  color: #999;
}
.modal-wrapper .payment-area .payment-info .input {
  flex: 0 0 26.5rem;
}

.modal-wrapper .modal-notice-area {
  width: 1000px;
}
.modal-wrapper .modal-notice-area .day-close {
  padding: 2rem 4rem;
  display: flex;
  justify-content: flex-end;
}
.modal-wrapper .modal-notice-area .img-box {
  
}
.modal-wrapper .modal-notice-area .img-box img {
  width: 100%;
}

@media screen and (min-width: 1600px) {
  .modal-wrapper .driver-matching-area {
    padding: 20px 100px 40px;
    width: 1100px;
  }
  .modal-wrapper .driver-matching-head {
    margin-bottom: 20px;
  }
  .modal-wrapper .driver-matching-tit {
    margin-bottom: 8px;
    font-size: 32px;
  }
  .modal-wrapper .driver-matching-desc {
    font-size: 16px;
    line-height: 21px;
  }
  .modal-wrapper .driver-matching-count {
    margin-top: 10px;
  }
  .modal-wrapper .driver-matching-count .desc {
    font-size: 16px;
    line-height: 21px;
  }
  .modal-wrapper .driver-matching-count .date-group {
    margin-top: 4px;
    gap: 20px;
    font-size: 32px;
    line-height: 38px;
  }
  .modal-wrapper .driver-matching-area .player-info-slider-area {
    padding: 0 calc(90px - 2px);
  }
  .modal-wrapper .driver-matching-area .player-info-area {
    padding: 20px 0;
    width: 720px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-intro {
    padding: 0 20px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-detail {
    padding: 0 46px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .rank {
    padding: 0 19px;
    font-size: 16px;
    line-height: 33px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .name {
    margin-top: 16px;
    font-size: 16px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .number {
    top: 64px;
    font-size: 110px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-thumb {
    margin: 43px auto 0;
    width: 267px;
    height: 184px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-detail .tit {
    margin-bottom: 36px;
    font-size: 28px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .detail-list > ul {
    gap: 12px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-detail .label {
    flex: 0 0 124px;
  }
  .modal-wrapper .driver-matching-area .player-info-area .detail-item p, 
  .modal-wrapper .driver-matching-area .player-info-area .detail-item a {
    font-size: 16px;
    line-height: 20px;
  }
  .modal-wrapper .driver-matching-area .goods-slider-area {
    padding: 0 75px;
  }
  .modal-wrapper .goods-slider-area .goods-item {
    padding: 20px 34px;
  }
  .goods-slider-area .goods-info {
    margin-bottom: 24px;
    font-size: 16px;
  }
  .modal-wrapper[data-modal-id="matchPlayer"] .slider-btn {
    width: 60px;
    height: 60px;
  }
  .modal-wrapper[data-modal-id="matchPlayer"] .slider-btn .ic {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-wrapper[data-modal-id="matchPlayer"] {
    padding: 0;
  }
}

@media screen and (max-width: 1300px) {
  .modal-wrapper.is-active {
    padding: 2rem;
  }
  .modal-wrapper[data-modal-id="playerDetail"] .modal-inner {
    margin: auto 0;
  }
  .modal-wrapper .player-info-area {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .modal-wrapper[data-modal-id="PaymentModal"] {
    display: none !important;
  }

  .modal-wrapper .modal-inner {
    margin: auto 0;
  }
  .modal-wrapper .modal-close {
    right: 1.6rem;
    top: 1.6rem;
  }

  .modal-wrapper .player-info-slider-area .slider-controls,
  .modal-wrapper .player-slider-area .slider-controls,
  .modal-wrapper .goods-slider-area .slider-controls,
  .modal-wrapper .goods-slider-area .swiper-pagination {
    display: none;
  }

  .modal-wrapper .player-info-area {
    padding: 3rem 2rem;
  }
  .modal-wrapper .player-info-area::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    border: 1px solid rgba(255, 255, 255, .2);
    pointer-events: none;
    z-index: 10;
  }
  .modal-wrapper .player-info-area::before {
    display: none;
  }
  .modal-wrapper .player-info-area .player-info {
    flex-direction: column;
    gap: 0;
  }
  .modal-wrapper .player-info-area .player-info::before {
    display: none;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-thumb,
  .modal-wrapper .player-info-area .player-thumb {
    margin: 5.4rem -2rem 0;
    width: auto;
    height: auto;
  }
  .modal-wrapper .player-info-area .player-thumb img {
    width: 100%;
  }
  .modal-wrapper .driver-matching-area .player-info-area .rank,
  .modal-wrapper .player-info-area .rank {
    font-size: 1.6rem;
    line-height: 3.3rem;
  }
  .modal-wrapper .driver-matching-area .player-info-area .name,
  .modal-wrapper .player-info-area .name {
    margin-top: 2.6rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .modal-wrapper .driver-matching-area .player-info-area .number,
  .modal-wrapper .player-info-area .number {
    top: 8rem;
    font-size: 10rem;
  }
  .modal-wrapper .player-info-area .player-intro {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
  .modal-wrapper .player-info-area .player-detail {
    padding-left: 0;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-detail .tit,
  .modal-wrapper .player-info-area .player-detail .tit {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .modal-wrapper .driver-matching-area .player-info-area .detail-list > ul,
  .modal-wrapper .player-info-area .detail-list > ul {
    gap: .4rem;
  }
  .modal-wrapper .driver-matching-area .player-info-area .detail-item p, 
  .modal-wrapper .driver-matching-area .player-info-area .detail-item a,
  .modal-wrapper .player-info-area .detail-item p, 
  .modal-wrapper .player-info-area .detail-item a {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-detail .label,
  .modal-wrapper .player-info-area .detail-item .label {
    flex: 0 0 7.8rem;
  }
  .modal-wrapper .player-info-area .btn-group {
    gap: .8rem;
  }
  .modal-wrapper .player-info-area .btn-group .btn-base {
    padding: 0;
    font-size: 1.7rem;
    height: 4.8rem;
  }
  .modal-wrapper .player-info-area .btn-detail {
    top: auto;
    left: 0;
    width: auto;
    height: 4rem;
    border-radius: 0 0 .8rem .8rem;
  }
  .modal-wrapper .player-info-area .btn-detail .ic {
    rotate: 90deg;
  }

  .modal-wrapper .confirm-area {
    width: 100%;
  }
  .modal-wrapper .confirm-body {
    padding: 5rem 2rem;
    min-height: auto;
  }
  .modal-wrapper .confirm-tit {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.6rem;
  }
  .modal-wrapper .confirm-desc{
    font-weight: 700;
  }

  .modal-wrapper .driver-matching-area {
    padding: 4rem 2rem;
    width: 100%;
  }
  .modal-wrapper .driver-matching-tit {
    margin-bottom: 1rem;
  }
  .modal-wrapper .driver-matching-count {
    margin-top: 4rem;
  }
  .modal-wrapper .driver-matching-count .date-group {
    margin-top: 0;
    font-size: 2.8rem;
    gap: 1rem;
  }
  .modal-wrapper .driver-matching-area .player-info-slider-area {
    margin: 0 -2rem;
    padding: 0 4.3rem;
  }
  .modal-wrapper .driver-matching-area .player-info-slider {
    overflow: visible;
  }
  .modal-wrapper .driver-matching-area .player-info-slider-area .swiper-slide {
    padding: 0;
  }
  .modal-wrapper .driver-matching-area .player-info-area {
    width: 100%;
  }
  .modal-wrapper .driver-matching-area .player-info-area {
    padding: 3rem 2rem;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-intro,
  .modal-wrapper .driver-matching-area .player-info-area .player-detail {
    width: 100%;
    padding: 0;
  }
  .modal-wrapper .driver-matching-area .player-info-area .player-intro {
    padding-bottom: 3rem;
  }
  .modal-wrapper .driver-matching-area .player-info-area .logo-box {
    display: none;
  }
  .modal-wrapper .driver-matching-area .goods-slider-area {
    margin: 4rem -2rem 0;
    padding: 0;
  }
  .modal-wrapper .goods-slider-area .goods-item {
    padding: 2rem 2.2rem;
    width: 65.6716%;
  }

  .modal-wrapper .driver-matching-area .player-slider-area {
    margin: 0 -2rem 6rem;
    padding: 0;
  }
  .modal-wrapper .player-slider-area .player-item {
    width: 63.5821%;
  }
  .modal-wrapper .player-slider-area .area-tit {
    margin-bottom: 3rem;
  }
  .modal-wrapper .goods-slider-area .area-tit {
    margin-bottom: 1rem;
  }
  .main-wrapper .match-section .driver-matching .area-tit {
    margin-bottom: 3rem;
  }
  .modal-wrapper .player-slider-area .area-tit span,
  .modal-wrapper .goods-slider-area .area-tit span {
    padding: 0 2.3rem;
    font-size: 1.6rem;
    line-height: 3.8rem;
  }

  .modal-wrapper .player-slider-area .player-thumb {
    height: 16.2rem;
  }
  .modal-wrapper .player-slider-area .player-thumb img {
    max-width: none;
    width: 100%;
    height: 100%;
  }

  .modal-profile-update .profile-tit {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .modal-profile-update .profile-thumb-slider-area {
    padding: 0 7rem;
  }
  .modal-profile-update .profile-area {
    width: 100%;
  }
  .modal-profile-update .profile-body {
    padding: 4rem 2rem;
  }
  .modal-profile-update .slider-btn-prev {
    left: 4rem;
  }
  .modal-profile-update .slider-btn-next {
    right: 4rem;
  }

  .modal-wrapper .goods-buy-detail-area .component-goods-list {
    /* max-width: 15.6rem; */
  }
  .modal-wrapper .goods-buy-detail-area .component-goods-list .name {
    font-size: 1.8rem;
  }
  .modal-wrapper .goods-buy-detail-area .component-goods-list .tier {
    font-size: 1.6rem;
  }
  .modal-wrapper .goods-buy-detail-area {
    padding: 6rem 3.8rem;
    width: 100%;
  }
  .modal-wrapper .goods-buy-detail-area .goods-buying-info .tit {}
  .modal-wrapper .goods-buy-detail-area .goods-buying-info .price {
    font-size: 2rem;
  }

  .modal-wrapper .modal-notice-area {
    width: 100%;
  }
  .modal-wrapper .modal-notice-area .day-close {
    padding: 2rem;
  }
}