@import url(./reset.css);
@import url(./fonts.css);
@import url(./ui.css);
@import url(./layout.css);
@import url(./modal.css);
@import url(./main.css);
@import url(./sub.css);

:root {
  --header-height: 7rem;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #444;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --primary-color: #6EF0D2;
  --green-color: #68FAE4;
  --black-color: #0F0F0F;
}

@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 1023px) {
  :root {
    --header-height: 6rem;
    --swiper-pagination-bullet-width: .8rem;
    --swiper-pagination-bullet-height: .8rem;
    --swiper-pagination-bullet-horizontal-gap: .4rem;
  }
}