/* Sub Common Style */
.sub-wrapper {
  padding-top: 20rem;
  padding-bottom: 8rem;
}
.sub-wrapper .sub-content-head {
  margin-bottom: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-wrapper .sub-content-tit {
  font-size: 8rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.sub-wrapper .sub-content-desc {
  margin-top: 0.8rem;
  font-family: "Pretendard";
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
}
.sub-wrapper .sub-content-desc span {
  margin-top: 0.8rem;
  display: block;
  opacity: 0.4;
}

/* Page Bg */
.account-wrapper {
  min-height: 100svh;
  background: transparent url("../images/pages_bg/account_bg_pc.jpg") center top no-repeat;
  background-size: max(160rem, 100%) auto;
}
.championship-wrapper {
  min-height: 100svh;
  background: transparent url("../images/pages_bg/championship_bg_pc.jpg") center top no-repeat;
  background-size: max(160rem, 100%) auto;
}
.storage-wrapper {
  min-height: 100svh;
  background: transparent url("../images/pages_bg/storage_bg_pc.jpg") center top no-repeat;
  background-size: max(160rem, 100%) auto;
}
.data-center-wrapper {
  min-height: 100svh;
  background: transparent url("../images/pages_bg/data_center_bg_pc.jpg") center top no-repeat;
  background-size: max(160rem, 100%) auto;
}
.market-wrapper {
  min-height: 100svh;
  background: transparent url("../images/pages_bg/market_bg_pc.jpg") center top no-repeat;
  background-size: max(160rem, 100%) auto;
}
.notice-wrapper {
  min-height: 100svh;
  background: transparent url("../images/pages_bg/notice_bg_pc.jpg") center top no-repeat;
  background-size: max(160rem, 100%) auto;
}

/* Login Style */
.account-wrapper {
  padding: 15rem 0 8rem;
}
.account-wrapper .sub-content-head {
  margin-bottom: 8rem;
}

.login-wrapper {
  padding-bottom: 4rem;
}
.login-area {
  display: flex;
  text-align: center;
}
.login-area-inner {
  margin: 0 auto;
}
.login-area .login-tit {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
}
.login-area .login-btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40rem;
}
.login-area .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: 100%;
  height: 5.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 4px;
}
.login-area .btn .ic {
  width: auto;
  height: auto;
}
.login-area .btn-login-kakao {
  background-color: #F9E000;
  color: var(--black-color);
}
.login-area .btn-login-naver {
  background-color: #00BF19;
}

/* SignUp Style */
.signup-area {
  position: relative;
  margin: 0 auto;
  width: 40.2rem;
  z-index: 1;
}
.signup-area-inner {
  background-color: #181818;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}
.signup-area-inner::before {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
}
.signup-area .signup-head {
  position: relative;
  padding: 3.2rem;
}
.signup-area .signup-head .tit {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  color: var(--primary-color);
}
.signup-area .signup-head .desc {
  margin-top: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #999;
}
.signup-area .signup-body {
  position: relative;
  padding: 3.2rem;
}
.signup-area .signup-head::before,
.signup-area .signup-body::before {
  content: '';
  position: absolute;
  left: 3.2rem;
  bottom: 0;
  right: 3.2rem;
  height: 1px;
  background-color: rgba(255, 255, 255, .1);
}

.signup-area .signup-foot {
  padding: 3.2rem;
}
.signup-area .signup-foot .btn-group {
  display: flex;
  gap: 8px;
}
.signup-area .signup-foot .btn-group .btn {
  flex: 1;
}
.signup-area .terms-check-group {
  border-radius: 0.4rem;
  border: 1px solid rgba(255, 255, 255, .2);
}
.signup-area .check-all-box {
  padding: 1.2rem 1.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.signup-area .check-list-box {
  padding: 1.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.signup-area .check-item {
  position: relative;
  padding: 0.4rem 0;
}
.signup-area .check-item .link {
  position: absolute;
  right: 0;
  top: .4rem;
  color: #666;
}
.signup-area .bar {
  margin: 3.2rem 0;
  height: 1px;
  background-color: rgba(255, 255, 255, .2);
}
.signup-area .form-row-group {
  margin-bottom: 3.2rem;
}
.signup-area .form-row-group.mb-0 {
  margin-bottom: 0;
}
.signup-area .label-group {
  margin-bottom: 0.8rem;
}
.signup-area .label-group .label {
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: -0.02em;
  color: #999;
}
.signup-area .check-group {
  display: flex;
  justify-content: space-between;
}
.signup-area .check-group .check-item {
  flex: 1;
}

/* SignUp Goods Style */
.signup-goods-area {
  position: relative;
  margin: 0 auto;
  width: 59rem;
  z-index: 1;
}
.signup-goods-area .signup-goods-head {
  margin-bottom: 2.4rem;
  text-align: center;
}
.signup-goods-area .signup-goods-head .tit {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.9rem;
  color: var(--primary-color);
}
.signup-goods-area-inner {
  position: relative;
  padding: 4rem 6.4rem;
  background-color: #181818;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}
.signup-goods-area-inner::before {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
}
.signup-goods-area .noti-text {
  margin-top: 2.4rem;
  padding-left: .9rem;
  text-indent: -.9rem;
  font-family: "Pretendard";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  color: #666;
}
.signup-goods-area .signup-goods-foot .btn-group {
  margin-top: 2.4rem;
  display: flex;
  gap: 8px;
}
.signup-goods-area .signup-goods-foot .btn-group .btn {
  flex: 1;
}
.signup-goods-area .signup-goods-slider-area {
  position: relative;
}
.signup-goods-area .signup-goods-slider {
  --slider-height: 30rem;
  --slider-gap: 20px;
  height: var(--slider-height);
}
.signup-goods-area .signup-goods-item {
  height: calc((var(--slider-height) - var(--slider-gap)) / 2);
  opacity: 0.3;
}
.signup-goods-area .signup-goods-item .item-inner {
  position: relative;
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.signup-goods-area .signup-goods-item .item-inner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: inherit;
  pointer-events: none;
  z-index: 1;
}
.signup-goods-area .signup-goods-item .img-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.signup-goods-area .signup-goods-item .img-box img {
  width: 100%;
  height: 100%;
}
.signup-goods-area .signup-goods-item .img-box .ic-check {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  color: var(--primary-color);
  display: none;
}
.signup-goods-area .signup-goods-item.is-active {
  opacity: 1;
}
.signup-goods-area .signup-goods-item.is-active .item-inner::before {
  border-width: .2rem;
  border-color: var(--primary-color);
}
.signup-goods-area .signup-goods-item.is-active .ic-check {
  display: block;
}
.signup-goods-area .slider-controls {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -1.5rem;
} 
.signup-goods-area .slider-controls .swiper-button-disabled {
  opacity: 0.4;
}
.signup-goods-area .slider-btn-arrow {
  position: absolute;
  color: #fff;
}
.signup-goods-area .slider-btn-arrow .ic {
  width: 3rem;
  height: 3rem;
}
.signup-goods-area .slider-btn-prev {
  left: -1.5rem;
  translate: -100% 0;
}
.signup-goods-area .slider-btn-prev .ic {
  rotate: 180deg;
}
.signup-goods-area .slider-btn-next {
  right: -1.5rem;
  translate: 100% 0;
}

/* mypage */
.mypage-area {
  position: relative;
  width: 60.4rem;
  margin: 0 auto;
  z-index: 1;
}
.mypage-area .border-gradient {
  background-color: #181818;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}
.mypage-area .profile-area {
  margin-bottom: 1.6rem;
}
.mypage-area .profile-inner {
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(61% 162.45% at 7% 26.26%, #002A20 0%, #181818 100%);
}
.mypage-area .profile-thumb {
  position: relative;
  margin: 0 auto;
  width: 11rem;
}
.mypage-area .profile-thumb .img-box {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.mypage-area .profile-thumb .img-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.mypage-area .profile-thumb .btn {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.mypage-area .profile-thumb .btn .ic {
  width: 2.9rem;
  height: 2.9rem;
  color: var(--black-color);
}
.mypage-area .profile-nickname {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.mypage-area .profile-nickname .nickname {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
}
.mypage-area .profile-nickname .btn {
  display: flex;
  translate: 0 .2rem;
}
.mypage-area .inventory-area {
  display: flex;
  gap: .8rem;
}
.mypage-area .inventory-item {
  flex: 1;
}
.mypage-area .inventory-item-inner .cont-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 13.8rem;
}
.mypage-area .inventory-item .inventory-tit {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
}
.mypage-area .inventory-item .inventory-desc {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  color: var(--primary-color);
}
.mypage-area .inventory-item .inventory-desc small {
  margin-left: 0.4rem;
  display: inline-block;
  font-size: 1rem;
  translate: 0 -1px;
}
.mypage-area .mypage-foot {
  margin-top: 4rem;
}
.mypage-area .mypage-foot .btn-group {
  display: flex;
  gap: .8rem;
}
.mypage-area .mypage-foot .btn-group .btn {
  flex: 1;
}

.my-card-area {
  margin-top: 4rem;
}
.my-card-area .my-card-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.my-card-area .my-card-tit {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;
}
.my-card-area .my-card-content-inner {
  position: relative;
  padding: 3.2rem;
}
.my-card-area .bar {
  margin: 3.2rem auto;
  height: 1px;
  background-color: rgba(255, 255, 255, .1);
}
.my-card-area .card-tit {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.my-card-area .card-tit .tit {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
}
.my-card-area .card-tit .sub {
  font-size: 1.6rem;
  color: #666;
}
.my-card-area .scroll-area {
  margin-right: -2rem;
  padding-right: 2rem;
  max-height: 26.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.my-card-area .scroll-area::-webkit-scrollbar {
  width: 0.4rem;
}
.my-card-area .scroll-area::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 1rem;
}
.my-card-area .scroll-area::-webkit-scrollbar-track {
  background-color: #222;
  border-radius: 1rem;
}
.my-card-area .grid-area {
  display: flex;
  flex-direction: column;
}
.my-card-area .grid-row-group {
  display: flex;
  width: 100%;
}
.my-card-area .grid-row-group .grid-row {
  width: auto;
}
.my-card-area .grid-row {
  display: flex;
  width: 100%;
}
.my-card-area .grid-col {
  font-family: "Pretendard";
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.my-card-area .history-head {
  background-color: var(--black-color);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.my-card-area .history-head .grid-row {
  padding: 1rem;
}
.my-card-area .history-head .grid-col {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7rem;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  opacity: 0.4;
}

.my-card-area .history-item {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}


.my-card-area .my-recommend .form-group {
  display: flex;
  gap: 1rem;
}
.my-card-area .my-recommend .form-group .input {
  width: 33.6rem;
  height: 5.4rem;
}
.my-card-area .my-recommend .form-group .btn {
  width: 19rem;
  height: 5.4rem;
}
.my-card-area .my-recommend .total-invite {
  display: flex;
  font-family: "Score", sans-serif;
}
.my-card-area .my-recommend .total-invite span {
  padding: 0 2.3rem;
  font-size: 1.6rem;
  line-height: 3.8rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4rem;
}
.my-card-area .my-recommend .total-invite em {
  font-weight: bold;
}

.my-card-area .invite-grid .grid-row:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.my-card-area .nft-point-grid .grid-col,
.my-card-area .nft-history-grid .grid-col,
.my-card-area .invite-grid .grid-col {
  padding: 1.6rem 0;
}
.my-card-area .invite-grid .grid-col:nth-child(1) {
  flex: 0 0 4.5rem;
}
.my-card-area .invite-grid .grid-col:nth-child(2) {
  flex: 1 1 auto;
  min-width: 0;
}
.my-card-area .invite-grid .grid-col:nth-child(3) {
  flex: 0 0 10rem;
  text-align: right;
}

.my-card-area .nft-point-grid .grid-row-group,
.my-card-area .nft-history-grid .grid-row-group {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.my-card-area .my-nft-history .custom-select-box,
.my-card-area .my-game-history .custom-select-box,
.my-card-area .my-nft-history .select-box,
.my-card-area .my-game-history .select-box {
  width: 18rem;
}

.my-card-area .my-nft-history .select-group,
.my-card-area .my-game-history .select-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-card-area .game-history .accordion-btn {
  position: relative;
  padding-right: 3.8rem;
  display: flex;
  width: 100%;
}
.my-card-area .game-history .accordion-btn > .ic {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.2rem;
}
.my-card-area .game-history .accordion-btn .grid-row {
  gap: 1.6rem;
}
.my-card-area .game-history .accordion-btn .grid-col {
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  text-align: left;
}
.my-card-area .game-history .history-head .grid-col:nth-child(1) { width: 7.3rem; }
.my-card-area .game-history .history-head .grid-col:nth-child(2) { width: 11rem; }
.my-card-area .game-history .history-head .grid-col:nth-child(3) { width: 11.2rem; }
.my-card-area .game-history .history-head .grid-col:nth-child(4) { width: 11.3rem; }
.my-card-area .game-history .history-head .grid-col:nth-child(5) { width: 10.8rem; }
.my-card-area .game-history .accordion-btn .grid-col:nth-child(1) { width: 6.8rem; }
.my-card-area .game-history .accordion-btn .grid-col:nth-child(2) { width: 9.6rem; }
.my-card-area .game-history .accordion-btn .grid-col:nth-child(3) { width: 9.6rem; }
.my-card-area .game-history .accordion-btn .grid-col:nth-child(4) { width: 8.2rem; }
.my-card-area .game-history .accordion-btn .grid-col:nth-child(5) { flex: 1 1 auto; }
.my-card-area .game-history .cont-box {
  padding: 2rem 2rem 3.2rem;
  background-color: #131313;
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.my-card-area .game-history .cont-head {
  margin-bottom: 1.6rem;
}
.my-card-area .game-history .cont-head .grid-row {
  gap: 2.9rem;
}
.my-card-area .game-history .cont-head .grid-col,
.my-card-area .game-history .cont-body .grid-col {
  flex: 0 0 auto;
}
.my-card-area .game-history .cont-body .grid-col:nth-child(1) { width: 9.3rem; }
.my-card-area .game-history .cont-body .grid-col:nth-child(2) { width: 8.2rem; padding-right: 1rem; }
.my-card-area .game-history .cont-body .grid-col:nth-child(3) { width: 16.3rem; padding-right: 3rem;}
.my-card-area .game-history .cont-body .grid-col:nth-child(4) { width: 6.1rem; padding-right: 2rem; }
.my-card-area .game-history .cont-body .grid-col:nth-child(5) { flex: 1 1 auto; text-align: right; }
.my-card-area .game-history .cont-body .grid-area {
  gap: 1.6rem;
}
.my-card-area .game-history .scroll-area {
  max-height: 38rem;
}

.my-card-area .nft-history .history-head .grid-col:nth-child(1) { width: 2.4rem; }
.my-card-area .nft-history .history-head .grid-col:nth-child(2) { width: 24.6rem; }
.my-card-area .nft-history .history-head .grid-col:nth-child(3) { width: 13.8rem; }
.my-card-area .nft-history .history-head .grid-col:nth-child(4) { width: 10.8rem; text-align: right; }

.my-card-area .nft-history .history-body .grid-col.col-01 { width: 3.3rem; }
.my-card-area .nft-history .history-body .grid-col.col-02 { width: 24.7rem; padding-right: 2rem; }
.my-card-area .nft-history .history-body .grid-col.col-03 { width: 12.8rem; padding-right: 1rem; }
.my-card-area .nft-history .history-body .grid-col.col-04 { width: 12.8rem; text-align: right; }

.my-card-area .nft-history .history-body .grid-col.col-01 { width: 3.3rem; }
.my-card-area .nft-history .history-body .grid-col.col-02 { width: 24.7rem; padding-right: 2rem; }
.my-card-area .nft-history .history-body .grid-col.col-03 { width: 12.8rem; padding-right: 1rem; }
.my-card-area .nft-history .history-body .grid-col.col-04 { width: 12.8rem; text-align: right; }

.my-card-area .my-point-history .grid-col.col-01 { width: 17.9rem; }
.my-card-area .my-point-history .grid-col.col-02 { width: 17.9rem; padding-right: 2rem; }
.my-card-area .my-point-history .grid-col.col-03 { width: 17.9rem; text-align: right; }

.my-card-area .my-point-history .point-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-card-area .my-point-history .point-filter .radio-group {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.my-card-area .my-point-history .point-filter .my-point {
  display: flex;
  gap: 0.8rem;
  font-family: "Pretendard";
}
.my-card-area .my-point-history .point-filter .my-point span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
}
.my-card-area .my-point-history .point-filter .my-point em {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.my-card-area .my-info .my-info-item {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 0;
  font-family: "Pretendard";
}
.my-card-area .my-info .my-info-item:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.my-card-area .my-info .my-info-item .info-tit {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.3rem;
}
.my-card-area .my-info .my-info-item .info-desc {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
}
.my-card-area .my-info .btn-resign {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #999;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 0.4rem;
}

.my-card-area small {
  font-weight: 700;
  font-size: 1rem;
}
.my-card-area .text-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.my-card-area .font-sm {
  font-size: 1.4rem;
}
.my-card-area .font-lg {
  font-size: 1.8rem;
}
.my-card-area .bold {
  font-weight: 700;
}
.my-card-area .semibold {
  font-weight: 600;
}
.my-card-area .primary {
  color: var(--primary-color);
}
.my-card-area .gray {
  color: #666;
}
.my-card-area .mb-1 { margin-bottom: 0.4rem; }
.my-card-area .mb-2 { margin-bottom: 0.8rem; }
.my-card-area .mb-3 { margin-bottom: 1.2rem; }
.my-card-area .mb-4 { margin-bottom: 1.6rem; }
.my-card-area .mb-5 { margin-bottom: 2rem; }
.my-card-area .mb-6 { margin-bottom: 2.4rem; }
.my-card-area .mb-7 { margin-bottom: 2.8rem; }
.my-card-area .mb-8 { margin-bottom: 3.2rem; }
.my-card-area .mb-9 { margin-bottom: 3.6rem; }
.my-card-area .mb-10 { margin-bottom: 4rem; }


/* Championship */
.championship-wrapper .kv-area {
  position: relative;
}
.championship-wrapper .kv-area .img-box {
  height: 60rem;
}
.championship-wrapper .kv-area .text-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  text-align: center;
  z-index: 2;
}
.championship-wrapper .kv-area .tit {
  font-size: 8rem;
  line-height: 1.2;
}
.championship-wrapper .kv-area .desc {
  font-weight: 500;
}
.championship-wrapper .tab-area {
  margin-top: 8rem;
}
.championship-wrapper .schedule-area {
  overflow: hidden;
}
.championship-wrapper .schedule-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  margin: 0 -1rem;
}
.championship-wrapper .schedule-item {
  flex: 0 0 calc(25%);
  position: relative;
  padding: 0 1rem 7rem;
  display: flex;
  justify-content: space-between;
}
.championship-wrapper .schedule-item::before {
  content: '';
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  height: 1px;
  background-color: #222;
}
.championship-wrapper .schedule-item .round-place .round {
  margin-bottom: 1.2rem;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: var(--primary-color);
}
.championship-wrapper .schedule-item .round-place .place {
  font-family: "Pretendard";
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  text-transform: uppercase;
}
.championship-wrapper .schedule-item .date-place {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1.6rem;
  display: flex;
  align-items: center;
}
.championship-wrapper .schedule-item .date-place .date {
  position: relative;
  padding-right: 1.3rem;
  margin-right: 1.2rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 2.3rem;
  white-space: nowrap;
}
.championship-wrapper .schedule-item .date-place .date::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 2.3rem;
  background-color: #222;
}
.championship-wrapper .schedule-item .date-place .date .ic {
  margin-right: 0.6rem;
}
.championship-wrapper .schedule-item .date-place .place {
  flex: 1 1 auto;
  font-size: 1.4rem;
  font-weight: 400;
  color: #666;
}
.championship-wrapper .schedule-item .thumb {
  width: 15rem;
}
.championship-wrapper .schedule-text{
  font-size: 1.6rem;
  color: #999;
  margin-top: 4rem;
}

.championship-wrapper .tab-head {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
}
.championship-wrapper .tab-label {
  margin: 0 auto 4rem;
  padding: 0 1.6rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.4rem;
  background-color: var(--primary-color);
  color: var(--black-color);
  border-radius: 0.4rem;
}
.championship-wrapper .tab-tit {
  margin-bottom: 1.2rem;
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
.championship-wrapper .tab-desc {
  font-weight: 500;
  color: #666;
  text-align: center;
}

.championship-wrapper .class-area {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.championship-wrapper .class-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  row-gap: 2rem;
}
.championship-wrapper .class-item {
  flex: 0 0 25%;
  padding: 0 1rem;
}
.championship-wrapper .class-item .item-inner {
  padding: 2rem;
  min-height: 40rem;
  background-color: #181818;
  border-radius: 0.8rem;
}
.championship-wrapper .class-item .item-inner::before {
  top: -1px;
  right: -1px;
  left: -1px;
  bottom: -1px;
}
.championship-wrapper .class-item .tit {
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--primary-color);
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}
.championship-wrapper .class-item .desc {
  margin-bottom: 2rem;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.3rem;
}
.championship-wrapper .class-item .spac-list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Pretendard";
}
.championship-wrapper .class-item .spac-list .spac {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.championship-wrapper .class-item .spac-list .s-tit {
  font-weight: 500;
  line-height: 2.1rem;
}
.championship-wrapper .class-item .spac-list .s-desc {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #666;
}
.championship-wrapper .class-item .ic {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 5.6rem;
  height: 5.6rem;
  color: var(--primary-color);
}

/* Storage */
.storage-wrapper .component-goods-list {
  overflow: hidden;
}
.storage-wrapper .btn-more-box {
  margin-top: 8rem;
}
.storage-wrapper .storage-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.storage-wrapper .storage-top-bar {
  margin-bottom: 8rem;
}
.storage-wrapper .storage-top-bar .custom-select-box {
  width: 26.4rem;
}
.storage-wrapper .storage-top-bar .my-inventory {
  display: flex;
  gap: 4rem;
}
.storage-wrapper .storage-top-bar .my-inventory .item {
  display: flex;
  gap: 1.2rem;
}
.storage-wrapper .storage-top-bar .my-inventory .label {
  font-size: 1.8rem;
  font-weight: 500;
}
.storage-wrapper .storage-top-bar .my-inventory .desc {
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}
.storage-wrapper .storage-top-bar .my-inventory .desc small {
  font-size: 1rem;
}

/* Data Center */
.data-center-wrapper .data-center-area {
  margin: 0 auto;
  max-width: 66rem;
  width: 100%;
}
.data-center-wrapper .data-center-top-bar {
  margin-bottom: 4rem;
  display: flex;
  gap: 1rem;
}
.data-center-wrapper .data-center-top-bar .btn-link {
  flex: .37;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.4rem;
  color: var(--green-color);
  border: 1px solid var(--green-color);
  border-radius: 0.4rem;
}
.data-center-wrapper .data-center-top-bar .btn-link .ic {
  margin-left: 0.2rem;
  translate: 0 -.1rem;
}
.data-center-wrapper .data-center-top-bar .select-group {
  flex: .63;
  display: flex;
  gap: 1rem;
}
.data-center-wrapper .data-center-top-bar .select-group .custom-select-box {
  flex: 1;
}
.data-center-wrapper .custom-select-box.lg .select-btn {
  font-size: 1.6rem;
}
.data-center-wrapper .data-center-list .ply-tem {
  display: none !important;
}
.data-center-wrapper .data-center-list .row,
.data-center-wrapper .data-center-list .col,
.data-center-wrapper .data-center-list .desc {
  display: flex;
}
.data-center-wrapper .data-center-list .row {
  align-items: center;
}
.data-center-wrapper .data-center-list .rank { width: 8.6rem; }
.data-center-wrapper .data-center-list .ply { width: 17rem; padding-right: 1rem; }
.data-center-wrapper .data-center-list .tem { width: 20.3rem; padding-right: 1rem; }
.data-center-wrapper .data-center-list .scr { flex: 1; justify-content: flex-end; font-family: "Pretenderd"; }

.data-center-wrapper .data-center-list-head {
  margin-bottom: 4rem;
  padding-left: 8.6rem;
  font-weight: 600;
  line-height: 1;
  color: #666;
}
.data-center-wrapper .data-center-list-body {
  line-height: 2.4rem;
}
.data-center-wrapper .data-center-list-body .row {
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.data-center-wrapper .data-center-list-body .rank {
  font-size: 2rem;
  gap: 0.6rem;
}
.data-center-wrapper .data-center-list-body .tem,
.data-center-wrapper .data-center-list-body .scr {
  font-weight: 500;
}
.data-center-wrapper .data-center-list .ply .desc {
  gap: 0.8rem;
}
.data-center-wrapper .data-center-list .ply .num {
  font-family: "Tourney", sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
}


.market-wrapper .component-goods-list {
  overflow: hidden;
}
.market-wrapper .market-area {
  padding-top: 5.2rem;
}
.market-wrapper .market-head {
  margin-bottom: 6rem;
}
.market-wrapper .market-head .tit {
  margin-bottom: 0.8rem;
  font-family: "Pretendard";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  color: var(--primary-color);
}
.market-wrapper .market-head .desc {
  line-height: 2.1rem;
  color: #666;
}

/* Notice */
.notice-area {
  margin: 0 auto;
  max-width: 70rem;
  width: 100%;
}


@media screen and (min-width: 1024px) {
  .data-center-wrapper .data-center-list-body .row:nth-child(-n+3) .rank,
  .data-center-wrapper .data-center-list-body .row:nth-child(-n+3) .ply {
    color: var(--primary-color);
  }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1023px) {
  /* Sub Common Style */
  .sub-wrapper {
    padding-top: 12rem;
  }
  .sub-wrapper .sub-content-head {
    margin-bottom: 7rem;
  }
  .sub-wrapper .sub-content-tit {
    font-size: 6rem;
    line-height: 1;
    text-align: center;
  }
  .sub-wrapper .sub-content-desc {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .sub-wrapper.championship-wrapper .sub-content-tit {
    display: flex;
    flex-direction: column;
  }

  /* Page Bg */
  .account-wrapper {
    background: transparent url("../images/pages_bg/account_bg_mo.jpg") center top no-repeat;
    background-size: 100% auto;
  }
  .championship-wrapper {
    background: transparent url("../images/pages_bg/championship_bg_mo.jpg") center top no-repeat;
    background-size: 100% auto;
  }
  .storage-wrapper {
    background: transparent url("../images/pages_bg/storage_bg_mo.jpg") center top no-repeat;
    background-size: 100% auto;
  }
  .data-center-wrapper {
    background: transparent url("../images/pages_bg/data_center_bg_mo.jpg") center top no-repeat;
    background-size: 100% auto;
  }
  .market-wrapper {
    background: transparent url("../images/pages_bg/market_bg_mo.jpg") center top no-repeat;
    background-size: 100% auto;
  }
  .notice-wrapper {
    background: transparent url("../images/pages_bg/notice_bg_mo.jpg") center top no-repeat;
    background-size: 100% auto;
  }

  /* Login Style */
  .login-area-inner {
    width: 100%;
    padding: 0 2rem;
  }
  .login-area .login-btn-group {
    width: 100%;
  }

  /* SignUp Style */
  .signup-area {
    width: 100%;
  }
  .signup-area-inner {
    background: none;
    margin: 0;
  }
  .signup-area-inner::before {
    display: none;
  }
  .signup-area .check-group {
    gap: .8rem;
  }
  .signup-area .check-group .check-item,
  .signup-area .check-list-box .check-item {
    background: #181818;
  }

  /* SignUp Goods Style */
  .modal-wrapper .signup-goods-area {
    padding: 0;
  }
  .signup-goods-area {
    padding: 0 2rem;
    width: 100%;
  }
  .signup-goods-area .signup-goods-head {
    margin-bottom: 2rem;
  }
  .signup-goods-area .signup-goods-head .tit {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .signup-goods-area-inner {
    padding: 2rem;
  }
  .signup-goods-area .signup-goods-slider-area {
    padding: 0 2.2rem;
  }
  .signup-goods-area .signup-goods-slider {
    --slider-height: 25.2rem;
    --slider-gap: 12px;
  }
  .signup-goods-area .slider-btn-prev {
    left: 1.5rem;
  }
  .signup-goods-area .slider-btn-next {
    right: 1.5rem;
  }
  .signup-goods-area .noti-text {
    margin-top: 2rem;
  }
  .signup-goods-area .signup-goods-foot .btn-group {
    margin-top: 2rem;
  }
  .signup-goods-area .signup-goods-item .item-inner::before {
    border-width: 2px;
  }

  .mypage-area {
    padding: 0 2rem;
    width: 100%;
  }
  .mypage-area .profile-inner {
    padding: 2rem;
  }
  .mypage-area .profile-thumb {
    width: 8rem;
  }
  .mypage-area .profile-thumb .btn {
    width: 3rem;
    height: 3rem;
  }
  .mypage-area .profile-thumb .btn .ic {
    translate: 0 .1rem;
  }
  .mypage-area .profile-nickname {
    margin-top: 2rem;
  }
  .mypage-area .profile-nickname .nickname {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
  .mypage-area .profile-nickname .btn .ic {
    translate: 0 -.1rem;
  }

  .mypage-area .inventory-item-inner  {
    height: 100%;
  }
  .mypage-area .inventory-item-inner .cont-box {
    padding: 2rem;
    height: auto;
  }
  .mypage-area .inventory-item .inventory-tit {
    margin-bottom: 3.2rem;
  }
  .mypage-area .inventory-item .inventory-desc {
    font-size: 1.6rem;
    text-align: center;
    line-height: 1;
  }
  .mypage-area .inventory-item .inventory-desc small {
    display: block;
    line-height: 1.4rem;
    margin-left: 0;
  }

  .my-card-area .my-card-tit {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
  
  .my-card-area .card-tit {
    flex-direction: column;
    align-items: flex-start;
  }
  .my-card-area .card-tit .tit {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .my-card-area .card-tit .sub {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .my-card-area .my-card-content-inner {
    padding: 2rem;
  }
  .my-card-area .scroll-area {
    margin-right: -1rem;
    padding-right: 1rem;
  }
  .my-card-area .history-head {
    display: none;
  }

  .my-card-area .select-group .card-tit .tit {
    display: none;
  }
  .my-card-area .grid-col {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .my-card-area .my-nft-history .custom-select-box,
  .my-card-area .my-game-history .custom-select-box,
  .my-card-area .my-nft-history .select-box, 
  .my-card-area .my-game-history .select-box {
    width: 100%;
  }

  .my-card-area .invite-grid .grid-col:nth-child(1) { flex: 0 0 3.1rem; }
  .my-card-area .invite-grid .grid-col:nth-child(3) { flex: 0 0 9rem; }



  .my-card-area .my-recommend .form-group {
    flex-direction: column;
  }
  .my-card-area .my-recommend .form-group .input {
    width: 100%;
  }
  .my-card-area .my-recommend .form-group .btn {
    width: 100%;
    font-size: 1.6rem;
  }
  .my-card-area .my-recommend .total-invite span {
    font-size: 1.4rem;
    line-height: 3.6rem;
  }

  .my-card-area .game-history .accordion-btn .grid-row {
    flex-direction: column;
    gap: 1.2rem;
  }
  .my-card-area .game-history .accordion-btn .grid-col {
    padding: 0;
    width: auto !important;
  }
  .my-card-area .game-history .accordion-btn .grid-col br {
    display: none;
  }
  .my-card-area .game-history .accordion-btn .grid-col:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
  }
  .my-card-area .history-item {
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
  }
  .my-card-area .game-history .accordion-btn {
    padding-left: 6rem;
  }
  .my-card-area .game-history .accordion-btn > .ic {
    margin-top: 0;
    top: 0;
  }
  .my-card-area .game-history .cont-box {
    margin-top: 1.6rem;
  }
  .my-card-area .game-history .cont-head .grid-col {
    font-weight: 600;
  }
  .my-card-area .game-history .cont-head .grid-col:not(:first-child) {
    display: none !important;
  }
  .my-card-area .game-history .cont-body .grid-row {
    flex-direction: column;
    gap: 0.6rem;
  }
  .my-card-area .game-history .cont-body .grid-col {
    padding-right: 0 !important;
    width: 100% !important;
    text-align: left !important;
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
  }
  .my-card-area .game-history .cont-body .grid-col .label {
    flex-shrink: 0;
    color: #666;
  }
  .my-card-area .game-history .cont-body .grid-area {
    gap: 2rem;
  }
  .my-card-area .game-history .cont-head {
    margin-bottom: 2rem;
  }

  .my-card-area .my-nft-history .select-group {
    flex-direction: column;
  }
  .my-card-area .my-nft-history .select-group .card-tit {
    margin-right: auto;
  }
  .my-card-area .my-nft-history .select-group .card-tit .tit {
    display: block;
    font-size: 1.5rem;
  }
  .my-card-area .nft-point-grid .grid-row-group, 
  .my-card-area .nft-history-grid .grid-row-group {
    padding-bottom: 1.8rem;
    margin-bottom: 1.8rem;
    justify-content: space-between;
  }
  .my-card-area .nft-point-grid .grid-row,
  .my-card-area .nft-history-grid .grid-row {
    flex-direction: column;
    gap: 0.8rem;
  }
  .my-card-area .nft-history-grid .grid-row:nth-child(2) {
    flex-direction: column-reverse;
  }
  .my-card-area .my-point-history .grid-col,
  .my-card-area .nft-history .history-body .grid-col {
    padding: 0 !important;
    width: auto !important;
  }
  .my-card-area .my-point-history .point-filter {
    flex-direction: column;
  }
  .my-card-area .my-point-history .point-filter .radio-group {
    flex-wrap: wrap;
  }
  .my-card-area .my-point-history .point-filter .radio-item:nth-child(1) {
    width: 100%;
  }
  .my-card-area .my-point-history .point-filter .my-point {
    align-items: center;
    justify-content: space-between;
    margin-top: 3.2rem;
    padding: 0 1.6rem;
    width: 100%;
    height: 4.5rem;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: .4rem;
  }
  .my-card-area .my-point-history .point-filter .my-point span {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .my-card-area .my-point-history .point-filter .my-point span:nth-child(2) {
    color: var(--primary-color);
  }
  .my-card-area .my-point-history .point-filter .my-point em {
    font-size: 1.6rem;
  }
  .my-card-area .my-info .my-info-item .info-tit,
  .my-card-area .my-info .my-info-item .info-desc {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .my-card-area .my-info .btn-resign {
    height: 5.1rem;
    font-size: 1.6rem;
  }
  .mypage-area .mypage-foot .btn-group {
    flex-direction: column;
    gap: 1.2rem;
  }


  .championship-wrapper .kv-area .img-box {
    height: auto;
  }
  .championship-wrapper .kv-area .text-box {
    bottom: 5.2rem;
  }
  .championship-wrapper .kv-area .tit {
    font-size: 4rem;
  }
  .championship-wrapper .kv-area .desc {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .championship-wrapper .tab-area {
    margin-top: 6rem;
  }
  
  .championship-wrapper .schedule-list {
    gap: 6rem;
  }
  .championship-wrapper .schedule-item {
    flex: 1 1 100%;
  }
  .championship-wrapper .schedule-item .round-place .place {
    font-size: 1.8rem;
  }
  .championship-wrapper .schedule-item .date-place .place {
    font-size: 1.6rem;
  }
  .championship-wrapper .schedule-text{
    margin-top: 3rem;
  }

  .championship-wrapper .class-list {
    margin: 0;
    padding: 0 1.5rem;
  }
  .championship-wrapper .class-item {
    flex: 1 1 100%;
    padding: 0;
  }
  .championship-wrapper .class-item .item-inner {
    min-height: auto;
    padding: 2rem 2rem 12.3rem;
  }

  .championship-wrapper .tab-tit {
    margin-bottom: 2rem;
    font-size: 2.8rem;
    line-height: 1.3;
  }

  .storage-wrapper .storage-top-bar {
    flex-direction: column;
  }
  .storage-wrapper .storage-top-bar .select-group {
    margin-bottom: 2rem;
  }
  .storage-wrapper .storage-top-bar .select-group,
  .storage-wrapper .storage-top-bar .custom-select-box {
    width: 100%;
  }
  .storage-wrapper .storage-top-bar .my-inventory {
    padding: 1.6rem 0;
  }
  .storage-wrapper .storage-top-bar .my-inventory .label {
    font-size: 1.6rem;
  }
  .storage-wrapper .storage-top-bar .my-inventory .desc {
    font-size: 1.6rem;
  }

  /* Data Center */
  .data-center-wrapper .data-center-area {
    padding: 0 2rem;
  }
  .data-center-wrapper .data-center-top-bar {
    flex-direction: column-reverse;
    gap: 2.4rem;
  }
  .data-center-wrapper .data-center-top-bar .select-group {
    flex: 1 1 auto;
    flex-direction: column;
  }
  .data-center-wrapper .data-center-top-bar .btn-link {
    flex: 1 1 auto;
    height: 5.1rem;
  }
  .data-center-wrapper .data-center-top-bar .btn-link .ic {
    margin-left: 0.8rem;
  }

  .data-center-wrapper .data-center-list,
  .data-center-wrapper .data-center-list-body .rank {
    font-size: 1.4rem;
  }
  .data-center-wrapper .data-center-list-head {
    padding-left: 9rem;
    margin-bottom: 3rem;
  }
  .data-center-wrapper .data-center-list-body {
    line-height: 2.6rem;
  }
  .data-center-wrapper .data-center-list-body .row {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .data-center-wrapper .data-center-list .ply,
  .data-center-wrapper .data-center-list .tem {
    display: none;
  }
  .data-center-wrapper .data-center-list .ply-tem {
    flex: 1 1 auto;
    display: flex !important;
    flex-direction: column;
  }
  .data-center-wrapper .data-center-list .ply-tem .desc {
    gap: 0.8rem;
  }
  .data-center-wrapper .data-center-list-body .ply-tem .num {
    font-family: "Tourney", sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
  }
  .data-center-wrapper .data-center-list-body .ply-tem .name {
    font-size: 1.6rem;
  }
  .data-center-wrapper .data-center-list .rank {
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
    width: 6rem;
    text-align: center;
  }
  .data-center-wrapper .data-center-list-body .rank {
    gap: 0;
  }
  .data-center-wrapper .data-center-list-body .rank .desc {
    font-size: 2rem;
  }
  .data-center-wrapper .data-center-list .scr {
    flex: 0 0 auto;
    width: 8rem;
  }
  .data-center-wrapper .data-center-list-body .scr {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .data-center-wrapper .data-center-list-body .row:nth-child(-n+3) .rank .desc,
  .data-center-wrapper .data-center-list-body .row:nth-child(-n+3) .ply-tem .desc,
  .data-center-wrapper .data-center-list-body .row:nth-child(-n+3) .scr {
    color: var(--primary-color);
  }

  .market-wrapper .market-area {
    padding: 0;
  }
}